# モジュールのメインKconfig
config ADNS5050
    bool "ADNS5050 optical mouse sensor support"
    default y
    depends on DT_HAS_PIXART_ADNS5050_ENABLED
    help
      Enable support for ADNS5050 optical mouse sensor module.

if ADNS5050
rsource "drivers/sensor/adns5050/Kconfig"
endif # ADNS5050