# Copyright (c) 2024 Your Name
# SPDX-License-Identifier: MIT

config INPUT_ADNS5050
    bool "ADNS5050 optical mouse sensor"
    default y
    depends on DT_HAS_PIXART_ADNS5050_ENABLED
    depends on SPI
    depends on INPUT
    help
      Enable driver for Pixart ADNS5050 optical mouse sensor.
      This sensor provides configurable CPI resolution from 125 to 1375
      and communicates via 3-wire SPI interface.

if INPUT_ADNS5050

module = ADNS5050
module-str = adns5050
source "subsys/logging/Kconfig.template.log_config"

endif # INPUT_ADNS5050